<h1>Proyectos</h1>
{{!--mostrar los errores en caso de existir--}}
{{#if mensaje}}
  {{#each mensaje}}
    <div class="alert {{type}}" role="alert"> 
      {{error}}
    </div>
  {{/each}}
{{/if}}
<div class="container">
{{#if proyectos}}
    {{#each proyectos}}
    <div class="card">   
      <h4 class="card-header"> {{dataValues.nombre}} </h4>
      <div class="card-body">
        <p class="card-text">{{dataValues.descripcion}}</p>
        <p class="card-text">{{dataValues.fecha}}</p>
        <a href="" class="btn btn-primary">Ver producto</a>
      </div>
    </div>
    {{/each}}
{{else}}
  <h4>Ahun no tienes ningun proyecto. !animate a crear uno¡</h4>
  <a href="/nuevo_proyecto" class="btn btn-primary btn-lg">Crear un proyecto</a>
{{/if}}
</div>